<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Shopping Cart</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-right">
          <div class="woocommerce">
            <div class="woocommerce-info">Returning customer? <a class="showlogin" data-toggle="collapse" href="#login-form-wrap"
                aria-expanded="false" aria-controls="login-form-wrap">Click here to login</a>
            </div>
            <form [formGroup]="myForm" novalidate  (ngSubmit)="createOrder()" class="checkout" name="checkout">
              <div id="customer_details" class="col2-set">
                <div class="col-sm-12">
                  <div class="woocommerce-billing-fields">
                    <h3>Billing Details</h3>

                    <p class="col-sm-4">
                      <label class="" for="name">First Name <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" formControlName="name" id="name" name="name" class="input-text ">
                    </p>
                    <div class="clear"></div>

                    <p class=" col-sm-4">
                      <label class="" for="postcode">Postcode <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" [dropSpecialCharacters]="false" mask="00000-000" value=""  formControlName="postcode"  (change)="cepFind($event)" placeholder="Postcode / Zip"
                        id="postcode" name="postcode" class="input-text">
                    </p>
                    <div class="clear"></div>

                    <p class=" col-sm-4">
                      <label class="" for="address_number">Address number <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="number" value="" placeholder="123" id="address_number"  formControlName="address_number"   name="address_number" class="input-text ">
                    </p>

                    <p class="col-sm-4">
                      <label class="" for="address_additional">Additional information <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" placeholder="Apartment, suite, unit etc. (optional)"  formControlName="address_additional"  id="address_additional" name="address_additional"
                        class="input-text ">
                    </p>

                    <p class="col-sm-4">
                      <label class="" for="address">Address <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" readonly placeholder="Street address" id="address"  formControlName="address"  name="address" class="input-text ">
                    </p>


                    <p class=" col-sm-4">
                      <label class="" for="city">Town / City <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" readonly placeholder="Town / City" id="city"   formControlName="city"  name="city" class="input-text ">
                    </p>

                    <p class=" col-sm-4">
                      <label class="" for="state">State</label>
                      <input type="text" readonly id="state" name="state" formControlName="state" placeholder="State" value="" class="input-text ">
                    </p>


                    <p class="col-sm-4">
                      <label class="" for="email">Email Address <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="text" value="" placeholder="" id="email" formControlName="email" name="email" class="input-text ">
                    </p>

                    <p class="col-sm-4">
                      <label class="" for="password">Account password <abbr title="required" class="required">*</abbr>
                      </label>
                      <input type="password" value="" placeholder="Password"  formControlName="password" id="password" name="password" class="input-text">
                    </p>
                  </div>
                </div>

              </div>

              <h3 id="order_review_heading">Your order</h3>

              <div id="order_review" style="position: relative;">
                <table class="shop_table">
                  <thead>
                    <tr>
                      <th class="product-name">Product</th>
                      <th class="product-total">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cart_item" *ngFor="let product of cart">
                      <td class="product-name">
                        {{product.name}} <strong class="product-quantity">× {{cartQTD[product.id]}}</strong> </td>
                      <td class="product-total">
                        <span class="amount">R$ {{(product.price * cartQTD[product.id])}}</span> </td>
                    </tr>
                  </tbody>
                  <tfoot>

                    <tr class="cart-subtotal">
                      <th>Cart Subtotal</th>
                      <td><span class="amount">R$ {{totalPrice}}</span>
                      </td>
                    </tr>

                    <tr class="shipping">
                      <th>Shipping and Handling</th>
                      <td>
                        Free Shipping
                        <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                      </td>
                    </tr>


                    <tr class="order-total">
                      <th>Order Total</th>
                      <td><strong><span class="amount">R$ {{totalPrice}}</span></strong> </td>
                    </tr>

                  </tfoot>
                </table>


                <div id="payment">
                  <ul class="payment_methods methods">
                    <li class="payment_method_bacs">
                      <input type="radio" data-order_button_text="" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
                      <label for="payment_method_bacs">Direct Bank Transfer </label>
                      <div class="payment_box payment_method_bacs">
                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </li>
                  </ul>

                  <div class="form-row place-order">
                    <input type="submit" data-value="Place order" value="Place order" id="place_order" name="woocommerce_checkout_place_order"
                      class="button alt">
                  </div>

                  <div class="clear"></div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>